
<div class="row">
    <h1>Educacion 
        <h1 *ngIf="isAdmin"><button class="btn btn-info mb-1" routerLink="/educationNuevo"> Nuevo</button></h1>
    </h1>
    <hr>
 

   <div class="col-lg-1"></div>
    <div class="col-lg-11">
        
        <ul class="item-list">
            <li *ngFor="let education of listEducation">
                <div class="data-container">
                    <div class="row">
                        <div class="col-sm-11 col-md-2 col-lg-2 offset-md-0 offset-lg-0 parte2">
                            <img src={{education.urlimg}} class="img-fluid img-education">
                            </div>
                        <div class="col-sm-11 col-md-7 col-lg-7 parte1">
                            <h4>Educación: {{education.school}} </h4> 
                            <h4>en: {{education.title}} - 
                            ( {{education.starts}} - {{education.ends}} ) </h4>
                            <div class="btn-edit"> 
                            <h4>{{education.status}}</h4>
                            </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <td *ngIf="isAdmin"><button type="button" class="btn btn-warning" routerLink="/educationEdit/{{education.id}}">Editar</button></td>
                        <td *ngIf="isAdmin"><button type="button" class="btn btn-danger" (click)="borrarEducationDeLista(education)">Eliminar</button></td>
                      </div>   
                
                </div>
            </div>
            </li>
        </ul>
    </div>
       

</div>
