div{
    min-width: 200px;
    max-width: 300px;
}
.contenedor{

    margin:auto;
    margin-top:15%;

}

#outerStrokeColor{
    border-radius: 50px;
    max-width: 60px;
    height: 50px;
    
}

#innerStrokeColor{
    border-radius: 50px;
    max-width: 60px;
    height: 50px;
}
.btn-group{
    justify-content:center;
}


