
<div class="container-mt-3 contenedor col-xs-12 col-sm-12 col-md-12 col-lg-12 flex">
<div *ngIf="listSkill">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name"
                    [(ngModel)]="listSkill.name" required>
                </div>
                <div class="form-group">
                    <label for="progress">Progreso</label>
                    <input type="number" class="form-control" id="progress" name="progress"
                    [(ngModel)]="listSkill.progress" required>
                </div>
                <div class="form-group">
                    <label for="confirmsNames">las personas: </label>
                    <input type="text" class="form-control" id="confirmsNames" name="confirmsNames"
                    [(ngModel)]="listSkill.confirmsNames" required>
                </div>
                <div class="form-group">
                    <label for="imageSrc">imagen de habilidad</label>
                    <input type="text" class="form-control" id="imageSrc" name="imageSrc"
                        [(ngModel)]="listSkill.imageSrc" required>
                </div>
                <div class="form-group">
                    <label for="outerStrokeColor">circulo externo</label>
                    <input type="color" class="form-control" id="outerStrokeColor" name="outerStrokeColor"
                    [(ngModel)]="listSkill.outerStrokeColor" required>
                </div>
                <div class="form-group">
                    <label for="innerStrokeColor">circulo interno</label>
                    <input type="color" class="form-control" id="innerStrokeColor" name="innerStrokeColor"
                    [(ngModel)]="listSkill.innerStrokeColor" required>
                </div>
                <br>
                <div class="btn-group">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
                <button class="btn btn-info" routerLink="/">Volver</button>
                </div>
               
            </form>
        </div>
    </div>
</div>
</div>
